{
   margin : 0;
    padding: 0;
    box-sizing  border-box;
}
body{

    background-image: url(https://i.pinimg.com/originals/96/84/eb/9684eb8932b2fb5568d498704d525d78.jpg);
    background-repeat : no-repeat;
    background-size : cover;
    display : flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    margin:0;
    font-family: 'arial',sans-serif;

    
}
.container{
    color: white;
    padding: 2rem;
    margin: 10vh;
    background:rgba(0, 0, 0, 6);
    border: 1px solid rgb(180, 180, 180);
    border: radius 0.3rem; 
    text-align: center;
}
.container h1{
 margin-bottom: 1.5rem;   
}
.container p {
    margin: 1rem 0;
    position: relative;

}
.container input{
    width: 100px;
    padding: 0.5rem;
    margin: top 0.5rem; ;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
    color: white;

}
.container i{
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    color: white;
}
#p3 {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    border-radius: 0.2rem;
    cursor: pointer;
    background-color: rgb(284, 28, 204);
    color: black;
    border: none;
    transition: all 0.3s ease-in;

}